body {
    background: #FFF;
    font-family: Verdana, Times;
    font-size: 13px;
    line-height: 1.7em;
    color: #786f66;
    
}

#container {
    background: #4f463c;
    width: 600px;
    margin: 10px auto 10px;
    padding: 0;
    border: 1px solid #ccc8b8;
}
#topbar {
    height: 225px;
    padding-top: 0;
    padding-right: 2px;
    color: #e8e5d1;
    text-align: right;
    font-style: italic;
    font-size: 10px;
    background-image: url(pics/coffey.jpg);
    background-repeat: no-repeat;
    background-position: 0 20px;
}

#menu a[href="#maincontent"] {
    display: none;
}
#menu {
	background: #4f463c;
	float: left;
	margin: 0;
	padding: 0;
}
#menu, #menu ul, #menu li, #menu li a ::first-letter {
    text-transform: capitalize;
}
#menu ul {
	list-style-type: none;
	border-bottom: none;
	margin: 5px 10px;
	padding-left: 0;
	width: 580px;
}
#menu li {
    display: inline;
	list-style-type: none;
	border-bottom: 0;
	margin: 0;
	padding: 0;
}
#menu li a {
	color: #e8e5d1;
	text-decoration: none;
	padding: 8px 15px;
	background: #786f66;
	border-left: 1px solid #4f463c;
	border-top: 1px solid #827b72;
	border-right: none;
	margin: 0;
}
#menu li a:visited{
	color: #e8e5d1;
	background: #786f66;
}
#menu li a:hover{
	color: #e8e5d1;
	background: #9c9084;
}
.active li {
	background: #e8e5d1;
	color: #786f66;
}
img {
	margin-right: 5px;
	margin-bottom: 2px;
	float: left;
}
#content {
	padding: 10px;
	background: #e8e5d1;
}
#maincontent {
	float: left;
	width: 340px;
}
#maincontent h1 {
	font-size: 30px;
	font-weight: normal;
	font-family: times;
}
#subcontent {
	margin-top: 20px;
	padding: 10px;
	font-size: 10px;
	width: 215px;
	border-left: 1px dashed #bfbfbf;
	float: right;
	line-height: 2em;
}
#subcontent h1 {
	padding: 0;
	margin: 0;
	font-size: 16px;
	color: #4f463c;
	font-weight: normal;
	font-family: times;
}
#subcontent h2 {
	padding: 0;
	font-size: 14px;
	color: #4f463c;
	font-weight: normal;
	font-family: times;
}
#subcontent ul {
	margin: 0;
	padding: 0;
	list-style-type: none;
}
#subcontent li {
	font-size: 12px;
	margin: 0;
	padding: 0;
	list-style-type: none;
	
}
#bottomcontent {
	font-style: italic;
	clear: both;
	font-size: 10px;
}